/* Basic card styles */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }
  
#select {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
}

#select select{
  appearance: none;
  outline: none;
  padding: 10px 4px 10px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #0f0f0f;
  color: #fff;
  width: 180px;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
}




#select input {
  appearance: none;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 350px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}
  .search-wrapper {
    height: 25%;
    
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(153, 193, 229), rgb(245, 238, 238));  
    border-radius: 4px;
    padding: 10px;
    margin: 10px 10px 0px 10px;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }

  /* Search box styles */
  .search-container {
    text-align: center;
    margin: 20px;
  }
  
  #searchBox {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  #bottom-div {
    height: 70%;
    margin: 0px 10px 0px 10px;
    
  }