body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-wrapper {
  height: 25%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(153, 193, 229), rgb(245, 238, 238));  
  /* background-image: linear-gradient(120deg, #ffffff 0%, #c2e9fb 100%); */
  border-radius: 4px;
  padding: 10px;
  margin: 10px 10px 0px 10px;
  box-shadow: #ddd;

}

#select {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
}

#select select{
  appearance: none;
  outline: none;
  padding: 10px 4px 10px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #0f0f0f;
  color: #fff;
  width: 180px;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
}




#select input {
  appearance: none;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 350px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.dropdown select::-ms-expand {
  display: none;
}

#bottom-div {
  display: flex;
  flex-direction: row;
  height: 70%;
  margin: 0px 10px 0px 10px;
  flex-wrap: wrap; /* Allow wrapping to the next row if needed */
  gap: 20px;
  
}


#employeeCards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 1.5rem;
  justify-content:space-between;
}


.card > .header {
  margin-bottom: .25rem;
}

.card > .body {
  font-size: .8rem;
  color: #777;
}

.card > .dept {
  font-size: .8rem;
  color: #777;
}
.card > .designation {
  font-size: 0.95rem;
  color: rgb(85, 73, 73);
}

.card > .ext {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}

/* Basic card styles */
.card {
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(218, 240, 248));  
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  
  width: 350px;
  height: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}
.card:hover {
  background-image: linear-gradient(to bottom right, rgb(228, 144, 144), rgb(136, 173, 187));  
  
}

/* Card content styles */
.card img {
  border-radius: 50px;
  max-width: 80px;
  height: 80px;
  cursor: pointer;
}

.card h2 {
  margin: 5px 0;
}
.card p {
  margin: 0;
}
/* Additional styles for photo */
.card-photo {
  text-align: center;
}


.count-badge {
  display: inline-block;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(218, 240, 248));  
  color: maroon;
  font-weight: 700;
  border-radius: 50%; /* Make it round */
  padding: 10px 10px;
  margin-left: 10px;
}
