/* Importing Google Font 'Poppins' */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* common variables */
:root {
  /* colors */
  --primary: #0079ff;
  --primary-light: rgba(0, 121, 255, 0.08);
  --primary-dark: #0062d3;
  --light: #ffffff;
  --dark: #222222;
  --grey: #efefef;
  --dark-light: rgba(0, 0, 0, 0.2);
  /* box-shadow */
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
} */

/* body {
  background-color: var(--grey);
} */

.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: var(--light);
  box-shadow: var(--shadow);
  z-index: 2;
}

.navbar .content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: inherit;
}

.content .logo {
  display: flex;
  align-items: center;
  height: inherit;
  cursor: pointer;
}

.logo img {
  width: 55px;
  height: 55px;
  border-radius: 30%;
  margin-right: 10px;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary);
  margin: 0;
  padding: 0px 0px 0px 0px;
}
.logo h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-light);
  margin: 0;
  padding: 0px 0px 0px 0px;
}

.content .menu-icon {
  display: none;
  height: inherit;
}

.content .menu-icon i {
  line-height: 80px;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  transition: color 0.2s ease;
}

.content .menu-icon i:hover {
  color: var(--primary);
}

.content .desktop {
  display: flex;
  align-items: center;
}

.desktop .links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.links li {
  margin: 0 1rem;
}

.links li a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--dark);
  transition: color 0.2s ease;
}

.links li a.active {
  color: var(--primary);
}

.links li a:hover {
  color: var(--primary);
}

.desktop .buttons {
  display: flex;
  align-items: center;
}

.buttons .btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.2s ease, background-color 0.2s ease;
}

.btn.login {
  border: 1px solid var(--primary);
  background-color: transparent;
  margin-right: 1rem;
  color: var(--primary);
}

.btn.login:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary-light);
}

.btn.signup {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--light);
}

.btn.signup:hover {
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-dark);
}

.mobile-nav {
  position: absolute;
  left: -400px;
  top: 80px;
  width: 320px;
  padding-top: 2rem;
  padding-left: 5rem;
  height: calc(100vh - 80px);
  background-color: var(--light);
  z-index: 1;
  transition: left 0.7s ease;
}

.backdrop {
  display: none;
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--dark-light);
  z-index: 0;
}

.mobile-nav li {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.mobile-nav li i {
  font-size: 1.5rem;
  margin-right: 10px;
  transition: color 0.2s ease;
}

.mobile-nav li a {
  margin-top: 3px;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--dark);
  transition: color 0.2s ease;
}

.mobile-nav li.active,
.mobile-nav li.active a {
  color: var(--primary);
}

.mobile-nav li:hover a,
.mobile-nav li:hover i {
  color: var(--primary);
}

@media screen and (max-width: 1199px) {
  .content .desktop {
    display: none;
  }

  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }

  .logo h1 {
    font-size: 1.3rem;
  }

  .content .menu-icon {
    display: block;
  }

  .mobile-nav.show {
    left: 0;
  }

  .mobile-nav.show + .backdrop {
    display: block;
  }
}


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-wrapper {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(153, 193, 229), rgb(245, 238, 238));
  border-radius: 4px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  box-shadow: #ddd;
  position: relative;
}

.icon-container {
  display: flex;
  margin-top: 50px;
}

.icon {
  width: 40px;
}

.icon-container .icon:hover {
  background-color: rgb(153, 193, 229); /* Change the background color as needed */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Adjust the box shadow as needed */
}

.icon-container .icon:hover::after {
  content: attr(alt);
  position: absolute;
  bottom: 100%; /* Position the tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50; /* Change the background color as needed */
  color: #fff; /* Change the text color as needed */
  padding: 4px 8px; /* Adjust the padding as needed */
  border-radius: 4px; /* Adjust the border radius as needed */
  font-size: 12px; /* Adjust the font size as needed */
  opacity: 0; /* Initially hide the tooltip */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.icon-container .icon:hover::after {
  opacity: 1; /* Show the tooltip on hover */
}

.icon-container .icon.active {
  background-color: rgb(153, 193, 229);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#select {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #ccc;
  margin-top: 50px;
}

#select select{
  appearance: none;
  outline: none;
  padding: 10px 4px 10px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: rgb(15, 41, 88);
  color: #fff;
  width: 210px;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
}




#select input {
  appearance: none;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 350px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.dropdown select::-ms-expand {
  display: none;
}

#bottom-div {
  display: flex;
  flex-direction: row;
  height: 70%;
  margin: 0px 10px 0px 10px;
  flex-wrap: wrap; /* Allow wrapping to the next row if needed */
  gap: 20px;
  
}


#employeeCards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 1.5rem;
  justify-content:space-between;
}


.card > .header {
  margin-bottom: .25rem;
}

.card > .body {
  font-size: .8rem;
  color: #777;
}

.card > .dept {
  font-size: .8rem;
  color: #777;
}
.card > .designation {
  font-size: 0.95rem;
  color: rgb(85, 73, 73);
}

.card > .ext {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}

/* Basic card styles */
.card {
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(218, 240, 248));  
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  
  width: 350px;
  height: 230px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
    overflow: hidden;
}
.card:hover {
  background-image: linear-gradient(to bottom right, rgb(228, 144, 144), rgb(136, 173, 187));  
  
}
.card-content {
  /* Styles for the card content (left column) */
  width: 90%; /* Adjust as needed */
  float: left;
  box-sizing: border-box;
}

.email-logo-container {
  /* Styles for the email logo container (right column) */
  width: 12%; /* Adjust as needed */
  height: 100%;
  position: absolute;
  bottom: 0; /* Position the container at the bottom of the card */
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(100%); /* Initially move the container outside the card */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Added transform property */
}

.card:hover .email-logo-container {
  /* Styles for the email logo container when hovered */
  opacity: 1;
  transform: translateY(0); /* Move the container inside the card */
}


.email-logo {
  /* Styles for the email logo */
  width: 5px !important; /* Set the width to 10px with !important to ensure it overrides any other styles */
  height: auto; /* Allow the height to be automatic */
  max-width: 100%; /* Ensure the logo does not exceed 10px width */
  display: block; /* Ensure it behaves as a block element */
}


/* Card content styles */
.card img {
  border-radius: 50px;
  max-width: 80px;
  height: 80px;
  cursor: pointer;
}

.card h2 {
  margin: 5px 0;
}
.card p {
  margin: 0;
}
/* Additional styles for photo */
.card-photo {
  text-align: center;
}


.count-badge {
  display: inline-block;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(218, 240, 248));  
  color: maroon;
  font-weight: 700;
  border-radius: 50%; /* Make it round */
  padding: 10px 10px;
  margin-left: 10px;
  margin-top: 50px;
}
.custom-notification{
  color: maroon;
  font-weight: 700;
  text-align: center;
}


